main {
    padding: 50px;
    padding-bottom: 50px;
}

main > h2 {
    font-size: 2rem;
}

button.carousel-control-prev {
    width: 20px;
    left: -25px;

}

button.carousel-control-next {
    width: 20px;
    right: -25px;
}

span.carousel-control-prev-icon {
    background-color: rgb(4, 0, 218);
    border-radius: 50px;
}

span.carousel-control-next-icon {
    background-color: rgb(4, 0, 218);
    border-radius: 50px;
}

section {
    padding-top: 100px;
}




